root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,cjs,mjs,ts,tsx}]
indent_size = 2

[*.json]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
